<link rel="stylesheet" type="text/css" href="/assets/css/search.css" />
<script async src="/assets/js/search.js"></script>

<div class="search">
  <i class="fas fa-search search-icon material-icons search-icon search-start"></i>
  <input type="text" class="search-input" placeholder="Searching..." />
  <i class="far fa-times-circle material-icons search-icon search-cancel"></i>
  <i class="fas fa-minus material-icons search-icon search-clear"></i>
  <div class="search-results z-depth-4"></div>
</div>
